form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 {
    font-size: 2rem;
    margin-top: 2rem;
    color: #3f697d;
}

.cl {
    outline: none;
    width: 60%;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 3px 0px 0px 3px;
    border: none;
    border-bottom: 1px solid #3f697d;
    color: #3f697d;
    background-color: rgba(0, 0, 0, 0);
}
.cl:focus {
    outline: none;
    color: #3f697d;
    padding: 3px 0px 0px 3px;
}
.sub {
    width: 40%;
    height: 3rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    background-image: linear-gradient(120deg, #ade0f6c2,#317699c2);
    border: none;
    border-radius: 10px;
    color: #3f697d;
    /* transition: bacbackground-image color 1s; */
}
.sub:hover {
    background-image: linear-gradient(120deg, #2d9ecbc2,#104d6bc2);
    color: aliceblue;
}
.fn {
    width: 60%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}